* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  text-decoration: none;
  height: 100%;
}
.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.hover-underline-custom {
  position: relative;
}

.hover-underline-custom::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px; /* Adjust the height of the underline */
  background-color: #222; /* Adjust the color of the underline */
  transition: width 0.3s ease; /* Smooth transition */
}

.hover-underline-custom:hover::after {
  width: 100%;
}

.hover-float:hover {
  transform: translateY(-4px);
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#img {
  border-radius: 74px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow:  22px 22px 33px #a8a8a8,
               -22px -22px 33px #ffffff;
}

#icon {
  border-radius: 69px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow:  27px 27px 41px #5c5c5c,
               -27px -27px 41px #ffffff;
}

footer {
  margin-top: auto;
}